# hello

double_slit .000532
0 source_double_slit ctr=0,0,0 nrml=1,0,0 w=0.1 h=1 wspread=1.43 hspread=0.01 ctrsep=0.35 next=1
1 screen             ctr=2000,0,0  nrml=-1,0,0 
.

round_hole .000532
0 source_round_hole  ctr=0,0,0 nrml=1,0,0 diam=0.1 spread=1.43 next=1
1 screen             ctr=2000,0,0  nrml=-1,0,0 
.

single_slit .000532
0 source_single_slit ctr=0,0,0 nrml=1,0,0 w=0.1 h=1 wspread=1.43 hspread=0.01 next=1
1 screen             ctr=2000,0,0  nrml=-1,0,0 
.

# done
