# 
# mach zehnder interferometers
# 

ss_mach_zehnder .000532
0 source_single_slit ctr=0,0,0 nrml=1,0,0 w=0.1 h=1 wspread=2.00 hspread=0.01 next=1
1 beam_splitter      ctr=100,0,0 nrml=-1,1,0 next=3 next2=2
2 mirror             ctr=200,0,0 nrml=-1,1,0 next=4
3 mirror             ctr=100,100,0 nrml=-1,1,0 next=4
4 beam_splitter      ctr=200,100,0 nrml=1,-1,0 next=6 next2=5
5 discard            ctr=200,1000,0 nrml=0,-1,0 
6 screen             ctr=1900,100,0  nrml=-1,0,0 
.

rh_mach_zehnder .000532
0 source_round_hole  ctr=0,0,0 nrml=1,0,0 diam=0.1 spread=2.00 next=1
1 beam_splitter      ctr=100,0,0 nrml=-1,1,0 next=3 next2=2
2 mirror             ctr=200,0,0 nrml=-1,1,0 next=4
3 mirror             ctr=100,100,0 nrml=-1,1,0 next=4
4 beam_splitter      ctr=200,100,0 nrml=1,-1,0 next=6 next2=5
5 discard            ctr=200,1000,0 nrml=0,-1,0 
6 screen             ctr=1900,100,0  nrml=-1,0,0 
.

#
# simple configs
#

rh .000532
0 source_round_hole  ctr=0,0,0 nrml=1,0,0 diam=0.1 spread=1.43 next=1
1 screen             ctr=2000,0,0  nrml=-1,0,0 
.

ss .000532
0 source_single_slit ctr=0,0,0 nrml=1,0,0 w=0.1 h=1 wspread=1.43 hspread=0.01 next=1
1 screen             ctr=2000,0,0  nrml=-1,0,0 
.

ds .000532
0 source_double_slit ctr=0,0,0 nrml=1,0,0 w=0.1 h=1 wspread=1.43 hspread=0.01 ctrsep=0.35 next=1
1 screen             ctr=2000,0,0  nrml=-1,0,0 
.

#
# various test configs follow
#

test_z_axis_rh_no_spread_50mm_diam .000532
0 source_round_hole  ctr=0,0,0 nrml=1,1,1 diam=50 spread=0 next=1
1 screen             ctr=1155,1155,1155  nrml=-1,-1,-1
.

test_z_axis_rh .000532
0 source_round_hole  ctr=0,0,0 nrml=1,1,1 diam=0.1 spread=1.43 next=1
1 screen             ctr=1155,1155,1155  nrml=-1,-1,-1
.

test_z_axis_ss .000532
0 source_single_slit ctr=0,0,0 nrml=1,1,1 w=0.1 h=1 wspread=1.43 hspread=0.01 next=1
1 screen             ctr=1155,1155,1155  nrml=-1,-1,-1
.

test_z_axis_ds .000532
0 source_double_slit ctr=0,0,0 nrml=1,1,1 w=0.1 h=1 wspread=1.43 hspread=0.01 ctrsep=0.35 next=1
1 screen             ctr=1155,1155,1155  nrml=-1,-1,-1
.

test_z_axis_ss_mirror .000532
0 source_single_slit ctr=0,0,0 nrml=1,0,0 w=0.1 h=1 wspread=1.43 hspread=0.01 next=1
1 mirror             ctr=1000,0,0 nrml=-.4142136,0,1 next=2
2 screen             ctr=1707.1,0,707.1  nrml=-1,0,-1
.

test_rh_mirror .000532
0 source_round_hole  ctr=0,0,0 nrml=1,0,0 diam=0.1 spread=1.43 next=1
1 mirror             ctr=1000,0,0 nrml=-1,1,0 next=2
2 screen             ctr=1000,1000,0  nrml=0,-1,0
.

test_ss_mirror .000532
0 source_single_slit ctr=0,0,0 nrml=1,0,0 w=0.1 h=1 wspread=1.43 hspread=0.01 next=1
1 mirror             ctr=1000,0,0 nrml=-1,1,0 next=2
2 screen             ctr=1000,1000,0  nrml=0,-1,0
.

test_ds_mirror .000532
0 source_double_slit ctr=0,0,0 nrml=1,0,0 w=0.1 h=1 wspread=1.43 hspread=0.01 ctrsep=0.35 next=1
1 mirror             ctr=1000,0,0 nrml=-1,1,0 next=2
2 screen             ctr=1000,1000,0  nrml=0,-1,0
.

test_ss_beam_splitters .000532
0 source_single_slit ctr=0,0,0 nrml=1,0,0 w=0.1 h=1 wspread=1.43 hspread=0.01 next=1
1 beam_splitter      ctr=1000,0,0 nrml=-1,1,0 next=2 next2=3
2 screen             ctr=1000,1000,0  nrml=0,-1,0
3 discard            ctr=1100,0,0 nrml=-1,0,0 
.
